output
__save_results
__archived
*/__archived

data_embedding
data_json
data_pickle
data_vocab
checkpoints
checkpoints

output/*
__save_results/*
__archived/*

data_embedding/*
data_json/*
data_pickle/*
data_vocab/*
checkpoints/*
models/config/*
models/layers/*__draft.py

__pycache__
**/**/*.pyc