output
__save_results
__archived
*/__archived

data_embedding
data_json
data_pickle
data_vocab
checkpoints
models/configs

output/*
__save_results/*
__archived/*

data_embedding/*
data_json/*
data_pickle/*
data_vocab/*
checkpoints/*
models/configs/*
models/configs/*.json
models/layers/gat__draft.py

__pycache__
**/**/*.pyc
